.heading{
    color: green;
}

img {
    width: 200px;
}

.user-card {
    margin: 10px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px  3px 1px #ddd;
}

.text-wrap{
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}