.user-list {
    display: flex;
    justify-content: space-around;
    border:  1px solid #aaa;
    margin: 0;
    padding: 10px;
    list-style: none;
}

.user-list-header {
    font-size: 20px;
    list-style: none;
    font-weight: bold;
}

.nav-list {
    display: flex;
    width: 400px;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}