.color-plate{
    height: 200px;
    width: 250px;
}

.btn{
    padding: 15px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    box-shadow: 1px 2px 3px 3px black;
    cursor: pointer;
}

.btn:hover{
    background-color:rgb(59, 25, 32);
}