.header {
    background-color: rgb(241, 204, 159);
    display: flex;
    /* justify-content: space-between;  */
    padding: 10px;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.header ul {
    display: flex;
    justify-content: space-around;
    width: 200px;
    list-style-type: none;
}

.header li {
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
}

.header .link{
    text-decoration: none;
}

.college .link {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

.active {
    font-weight: 800;
    color: red;
}

.error{
    border: 1px solid red;
}

.red-color{
    color: red;
}

